<!DOCTYPE html>
<html>
  <head>
    <title>Nicolas's Website</title>
    <style>
      h1 {
        font-size: 40px;
        font=family: Roboo;
        font-weight: normal;
        color: rgb(100,100,1000)
      }


      #banner {
        width: 100%;
        heigth: 360px;
        object_fit: cover:
        
      }
      h2 {
        font_family: Roboto;
        font_size: 32px;
        color:(100,100.100);
        text_align: center;
        font-weight: normal;
        
      }

      p {
        fpnt_family: Roboto;
        
      }
      
    </style>
  </head>
  <body>
    <h1>Nicolas's Career</h1>
    <img ID="banner" src="https://nicolas-career-website-1.gamingwolfie04.repl.co/static/BS-Computer-Science-Degree-A-Closer-Look.jpg">
    <h2>About computer science</h2>
    <p>Computer science, a dynamic and expansive field, serves as the bedrock of our digital world. At its heart lies the study of algorithms—sophisticated sequences of instructions that power software and drive computational processes. These algorithms, ranging from simple sorting routines to complex machine learning models, form the backbone of technological innovation, enabling computers to solve problems, process information, and make intelligent decisions. Complementing algorithms are data structures, the organizational frameworks that efficiently store and manipulate vast amounts of data within software systems, optimizing access and retrieval for diverse applications.

    Cybersecurity stands tall as a pivotal facet of computer science in today's interconnected landscape. With the proliferation of digital systems and the constant flow of sensitive information across networks, cybersecurity focuses on fortifying these systems against malicious threats and unauthorized access. It involves implementing robust defense mechanisms, encryption protocols, and security practices to protect data integrity, confidentiality, and availability, safeguarding against a spectrum of cyber threats that continually evolve in complexity and sophistication.






</p>
    <h2>Open Positions</h2>
    <p>TODO - show the jobs here</p>
    <button> contact us</button>
  </body>
</html>